.body {
  background-image: linear-gradient(
    var(--main-body-color),
    var(--secondary-body-color)
  );
  color: var(--main-text-color);
}
.hero {
  padding: 4rem 0;
}
.hero h1 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
}
/*section one */
.section_one {
  padding: 5rem 0;
}
.section_one .card {
  background-color: var(--secondary-body-color);
  margin: 0;
}

.section_one .card > ul {
  list-style-type: none;
  padding: 0 3rem;
}

.section_one .card > ul > li {
  margin: 3rem 0;
  text-align: center;
}
/*Section two */
.section_two .shape {
  clip-path: polygon(0% 0%, 100% 15%, 100% 86%, 0% 100%);
  /* clip-path: polygon(20% 0%, 85% 15%, 85% 86%, 18% 100%); */
  background-color: #ffffff;
  position: relative;
  padding-top: 18rem;
}
.section_two p,
.section_two h3 {
  color: var(--secondary-body-color);
  text-align: center;
  margin: 0 -15px;
  margin-bottom: 8rem;
}

.section_two h3 {
  font-size: 1.3rem;
}
.section_two p {
  font-size: 1rem;
}

/* Section three */
.section_three {
  padding-top: 5rem;
  padding-bottom: 15rem;
}

.section_three h3 {
  font-size: 2.5rem;
  margin-top: 3rem;
}

/*footer section */

footer ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  margin-bottom: 5rem;
}

footer ul li a {
  color: var(--main-text-color);
}

footer ul li a:hover {
  color: var(--main-body-color);
  text-decoration: none;
}

footer ul li {
  margin-bottom: 1rem;
  font-size: 1rem;
}

footer p {
  font-size: 1rem;
  padding: 0 3rem;
  margin: 0;
}

@media only screen and (min-width: 600px) {
  .hero {
    padding-top: 2rem;
  }

  .hero h1,
  .section_two h3,
  .section_two p {
    text-align: left;
  }

  .hero h1 {
    font-size: 2rem;
    margin-top: -6rem;
  }

  .section_two h3 {
    font-size: 1.5rem;
  }

  .section_three .section_three_p {
    padding-right: 30%;
  }
}
